:root {
  --night: hsla(40, 8%, 7%, 1);
  --nightAccent: rgba(32, 32, 32, 0.322);

  --vivid-sky-blue: hsla(192, 100%, 52%, 1);
  --myrtle-green: hsla(174, 40%, 33%, 1);
  --platinum: hsla(300, 3%, 85%, 1);
  --antiflash-white: hsla(170, 13%, 91%, 1);

  --clr-dark-bg: var(--night);
  --clr-darkest-accent: var(--nightAccent);
  --clr-mid: var(--vivid-sky-blue);
  --clr-mid2: var(--myrtle-green);
  --clr-light: var(--platinum);
  --clr-lightest: var(--antiflash-white);

  /* --------------- FONT SIZE -------- */
  --fs-smallest: 0.85rem;
  --fs-sm: 1.1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-sm-heading: 2rem;
  --fs-md-heading: 4rem;
  --fs-lg-heading: 7rem;

  /* ----------- PADDING ------------ */
  --pd-sm: 0.5rem;
  --pd-md: 1rem;
  --pd-lg: 2rem;
  --pd-xl: 5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-mid2) transparent !important;
}

body {
  background-color: var(--clr-dark-bg);
  color: var(--clr-light);
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: var(--clr-light);
}

#FULL_APP {
  display: flex;
  height: 100svh;
  overflow: hidden;
}

.layout-div section {
  padding: var(--pd-lg) var(--pd-lg);
  width: 85dvw;
}

.layout-div {
  display: flex;

  h2 {
    display: flex;
    z-index: -1;
    right: 2rem;
    word-spacing: 1rem;
    letter-spacing: -0.5rem;
    font-size: var(--fs-lg-heading);
    font-weight: 900;
    color: var(--clr-mid);
    text-transform: uppercase;
    width: auto;
    text-shadow: 0.25rem 0.25rem 0.1rem var(--clr-light);
    line-height: 1;
  }

  h3 {
    font-size: var(--fs-sm-heading);
    font-weight: 200;
  }
}
/* ----------------------------------------HOME----------------- */
.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100dvh;
  overflow: hidden;
  color: var(--clr-light);
}

/* ------------------------styles to apply if a user's device settings are set to reduced motion---------------------- */

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}

/* -----------navbar ---------------------------- */
hr {
  opacity: 50%;
  margin-block: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  opacity: 95%;
}
.nav-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--clr-light);
  user-select: none;
  position: relative;
  height: 100svh;
  background-color: var(--clr-darkest-accent);
  font-size: var(--fs-md);
  padding: var(--pd-md);
  width: 15dvw;
}

.navItem p:hover,
.navItem p:focus-visible {
  color: var(--clr-mid);
}

.logo--nav {
  display: flex;
  font-size: var(--fs-md-heading);
  color: var(--clr-light);
  width: min-content;
  line-height: 1;
}

/* ACTIVE NAV LINK  */
.nav-wrapper :not(h1) a.active {
  color: var(--clr-mid);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.nav-wrapper a.active h1 {
  color: var(--clr-mid);
}

.navItem {
  color: var(--clr-light);
}

.activeItem {
  text-decoration: underline;
}

.mobile-menu-wrapper {
  display: none;
}

.links {
  display: flex;
  gap: 0.25rem;
  place-items: end;
  justify-content: space-between;

  svg {
    object-fit: cover;
    height: 1.75rem;
    width: 1.75rem;
    color: var(--clr-light);
    opacity: 85%;
  }

  svg:hover {
    color: var(--clr-mid);
  }
}

.navbar-links-only-desktop {
  flex: 1;
  height: 100%;
  place-content: end;
}

/* ----------------------------FOOTER -----------------------*/

footer {
  display: flex;
  align-items: center;
  color: var(--clr-light);
  pointer-events: none;
  user-select: none;
  /* height: auto; */
  place-items: end;
  text-align: justify;
  font-size: var(--fs-smallest);
  opacity: 85%;
}

.about--span {
  line-height: 2;
}

/* ----------------------------------MUSIC PAGE---------------------------- */

#audioplayer {
  display: flex;
  height: 100svh;
  gap: 2rem;
}

.audio-player-left {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    user-select: none;
  }
}

.album-wrapper {
  display: grid;
  color: var(--clr-light);
  gap: 0.25rem;
}

#album-folder {
  font-size: var(--fs-md);
}

.album-folders {
  display: grid;
  gap: 0.25rem;
  cursor: pointer;
}

.album-folders-header {
  display: flex;
  user-select: none;
  opacity: 75%;
}

#show-all {
  color: var(--clr-mid);
  cursor: pointer;
}

.artwork-now-playing-wrapper {
  flex: 2;
  place-content: end;
}

#now-playing-details {
  color: var(--clr-light);
  display: grid;
  gap: 0.5rem;
  padding-block: var(--pd-md);
  align-content: end;
}

#now-playing-details h3 {
  opacity: 50%;
  font-weight: 300;
}

.music-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: 10rem;
  flex: 1;
  overflow-y: scroll;
  place-items: center;
}

.track-card {
  height: 9rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  .track-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-mid2);
    padding: var(--pd-sm);
    font-size: var(--fs-sm);
    border-bottom-left-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
  }
  img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.track-card:hover {
  outline: 2px solid var(--clr-mid);
  border-radius: 0.15rem;
}

/* ----------------------------Audio player controls -----------------------*/

audio {
  width: auto;
}

audio::-webkit-media-controls-panel {
  padding: var(--pd-sm);
  height: min-content;
  background-color: var(--clr-mid2);
  border-radius: 0.25rem;
}

audio::-webkit-media-controls-timeline-container {
  display: none;
}

audio::-webkit-media-controls-current-time-display {
  display: none;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-timeline {
  background-color: var(--clr-light);
  border-radius: 0.25rem;
  margin-inline: var(--pd-sm);
  opacity: 100%;
  box-shadow: none;
  text-shadow: none;
}

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
  border-radius: 0;
}

audio::-webkit-media-controls-play-button {
  opacity: 100%;
  background-color: var(--clr-lightest);
  border-radius: 0.25rem;
}

audio::-webkit-media-controls-mute-button {
  opacity: 100%;
  background-color: var(--clr-lightest);
  border-radius: 0.25rem;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: var(--clr-mid);
}

audio::-webkit-media-controls-volume-slider {
  background-color: var(--clr-light);
  border-radius: 0.25rem;
  padding: unset;
  margin: 0 auto;
  align-items: center;
}

/* ----------------------------ABOUT PAGE -----------------------*/

.about--wrapper {
  display: grid;
  place-content: start;
  /* flex-direction: column; */
  height: 100%;
  /* width: 85dvw; */
  color: var(--clr-light);
  /* flex-wrap: wrap; */
  gap: 3rem;
  overflow: hidden;
  overflow-y: scroll;

  img {
    height: 25rem;
    object-fit: cover;
  }
  span {
    display: flex;
    width: 40rem;
    font-size: var(--fs-sm);
  }
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  .spans {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }
  img {
    flex: auto;
    height: 25rem;
    width: auto;
    aspect-ratio: 16/9;
  }
}
/* ----------------------------RESOURCES PAGE -----------------------*/

.music-resources--wrapper {
  display: grid;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    flex: 1;
    p {
      flex: 1;
    }

    img {
      height: 35rem;
      width: 35rem;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}

.resource-wrapper {
  gap: 1rem;
}

/* ----------------------------MEDIA PAGE -----------------------*/

.media--wrapper {
  display: grid;
  overflow-y: scroll;
  gap: 2rem;
}

.media-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10rem;
}

.media-title-span {
  display: grid;
  line-height: 1.7;
  gap: 1rem;
  h3 {
    line-height: 1;
    font-weight: 500;
    opacity: 75%;
  }
  span {
    font-size: var(--fs-md);
    font-weight: 300;
  }
}

.media-CONTENT-other {
  display: flex;
  flex-wrap: wrap;
  img {
    height: 25rem;
    width: auto;
  }
}

.media-CONTENT-tweets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .react-tweet-theme {
    background-color: var(--clr-darkest-accent);
    flex: 0.25;
  }
}

/* -------------------media query under 1024px - switch to hamburger style nav button and div----- */

@media (max-width: 1124px) {
  hr {
    display: none;
  }
  .nav-normal {
    display: none;
  }
  #FULL_APP {
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .nav-wrapper {
    height: min-content;
    width: 100svw;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--clr-darkest-accent);
    justify-content: space-between;
    position: relative;
  }

  .mobile-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu-wrapper b {
    padding-left: var(--pd-lg);
  }
  .mobile-menu-wrapper b:hover {
    color: var(--clr-mid);
  }

  .nav-mobile-open {
    position: fixed;
    background: rgba(0, 0, 0, 0.665);
    font-size: var(--fs-lg);
    height: 100dvh;
    width: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    backdrop-filter: blur(25px);
    padding: var(--pd-md);
    place-content: center;
  }

  .nav-mobile-open p {
    color: var(--clr-light);
    font-weight: 500;
  }
  .nav-mobile-open p:hover {
    color: var(--clr-mid);
    text-decoration: underline;
    font-weight: 800;
  }

  /* ---------------mobile menu hamburger div */
  .mobile-menu-button {
    width: 4rem;
    aspect-ratio: 1;
    background: transparent;
    z-index: 1000;
    box-shadow: none;
    border: none;
    border-radius: 100rem;
    position: relative;
    /* right: 0rem;
    top: 0rem; */
  }

  .mobile-menu-button:hover span {
    background: var(--clr-light);
  }

  .mobile-menu-button > span {
    position: absolute;
    background: var(--clr-light);
    width: 60%;
    height: 0.25rem;
    border-radius: 100rem;
  }

  /* MUSIC PLAYER */
  #audioplayer {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: var(--pd-lg);
    img {
      width: 100%;
    }
  }

  /* -------------LAYOUT DIV MOBILE --- FOR EACH SECTION ---------------*/
  .layout-div {
    section {
      padding: 0;
      width: 100svw;
      overflow: hidden;
      padding-block: var(--pd-md);
    }
    h2 {
      padding-left: var(--pd-md);
    }
  }
  /* -------------------------------------------------------- */

  .about--wrapper {
    display: grid;
    width: 95dvw;
    margin: 0;
    gap: 1rem;

    span {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .about-content {
    display: grid;
    padding: var(--pd-md) !important;
    gap: 1rem;
  }

  .media--wrapper {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;

    padding-block: var(--pd-lg);
  }

  .media-section {
    display: grid;
    gap: 0.5rem;
  }

  .media-title-span {
    max-width: 90%;
    line-height: 1.7;
    margin: 0 auto;
    display: grid;
  }

  .media-CONTENT {
    display: grid;
    place-items: center;
    justify-content: center;
  }

  .media-CONTENT-tweets {
    justify-content: center;
    width: 100dvw;
    padding: var(--pd-lg);
    .react-tweet-theme {
      background-color: var(--clr-darkest-accent);
      width: 15dvw;
      flex: 1;
    }
  }

  #audioplayer {
    margin: 0;
    padding: 0;
  }

  .music-list-wrapper {
    overflow: hidden;
  }
  .music-resources--wrapper {
    display: grid;
    /* width: 100%; */
    div {
      gap: 0;
      display: grid;

      flex: auto;
      img {
        height: 25rem;
        width: 25rem;
        object-fit: cover;
        aspect-ratio: 1;
      }
    }
  }

  .navbar-links-only-desktop {
    display: none;
  }

  footer {
    display: none;
  }
}

/*------------------------------------------- HELPER CLASSES */

.displayNone {
  display: none;
}
