:root {
  --night: hsla(40, 8%, 7%, 1);
  --nightAccent: rgba(32, 32, 32, 0.322);

  --vivid-sky-blue: hsla(192, 100%, 52%, 1);
  --myrtle-green: hsla(174, 40%, 33%, 1);
  --platinum: hsla(300, 3%, 85%, 1);
  --antiflash-white: hsla(170, 13%, 91%, 1);

  --clr-dark-bg: var(--night);
  --clr-darkest-accent: var(--nightAccent);
  --clr-mid: var(--vivid-sky-blue);
  --clr-mid2: var(--myrtle-green);
  --clr-light: var(--platinum);
  --clr-lightest: var(--antiflash-white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-mid2) transparent !important;
}

body {
  background-color: var(--clr-dark-bg);
  color: var(--clr-light);
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: var(--clr-light);
}

#FULL_APP {
  display: flex;
  height: 100svh;
  overflow: hidden;
}

.layout-div section {
  padding: 2rem 5rem;
  width: 85dvw;
}

.layout-div {
  display: flex;

  h2 {
    display: flex;
    font-size: 300%;
    font-weight: 600;
    color: var(--clr-mid);
    text-transform: uppercase;
  }

  h3 {
    font-size: 200%;
    font-weight: 200;
  }
}
/* ----------------------------------------HOME----------------- */
.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100dvh;
  overflow: hidden;
  color: var(--clr-light);
}

/* ------------------------styles to apply if a user's device settings are set to reduced motion---------------------- */

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}

/* -----------navbar ---------------------------- */
hr {
  opacity: 50%;
  margin-block: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* background-color: var(--clr-darkest-accent); */
  /* padding: .25rem 0; */
  /* padding-block: 2rem; */
}
.nav-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--clr-light);
  user-select: none;
  position: relative;
  height: 100dvh;
  background-color: var(--clr-darkest-accent);
  font-size: 120%;
  padding: 1rem;
  width: 15dvw;
  /* flex: 1; */
}

.navItem p:hover,
.navItem p:focus-visible {
  color: var(--clr-mid);
}

.logo--nav {
  display: flex;
  font-size: 4rem;
  color: var(--clr-light);
  width: min-content;
  line-height: 1;
}

/* ACTIVE NAV LINK  */
.nav-wrapper :not(h1) a.active {
  color: var(--clr-mid);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  /* list-style: circle; */
}

.nav-wrapper a.active h1 {
  color: var(--clr-mid);
}

.nav-items-right {
  display: grid;
  font-size: 1.2rem;
  margin-top: 2rem;
  padding-left: 0.25rem;
}

.navItem {
  display: flex;
  /* flex: auto; */
  /* justify-content: start; */
  color: var(--clr-light);
}

.activeItem {
  text-decoration: underline;
}

.mobile-menu-wrapper {
  display: none;
}

.links {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  /* justify-content: stretch; */
  div {
    display: flex;
    gap: 1rem;
    :hover {
      color: var(--clr-mid);
    }
  }
  svg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    color: var(--clr-light);
    opacity: 85%;
  }
}

/* ----------------------------FOOTER -----------------------*/

footer {
  display: flex;
  align-items: center;
  color: var(--clr-light);
  pointer-events: none;
  user-select: none;
  flex: 1;
  height: 100%;
  place-items: end;
  text-align: start;
  font-size: 55%;
  opacity: 75%;
}

.about--span {
  line-height: 2;
}

/* ----------------------------------MUSIC PAGE---------------------------- */

#audioplayer {
  display: flex;
  height: 100svh;
  padding: 0;
  /* width: 85dvw; */
}

.audio-player-left {
  display: flex;
  flex-direction: column;

  img {
    width: 25rem;
    aspect-ratio: 1;
    object-fit: cover;
    user-select: none;
  }
}

.album-wrapper {
  display: grid;
  color: var(--clr-light);
  gap: 1rem;
  padding: 1rem;
  flex: 1;
}

#album-folder {
  font-size: 1.3rem;
  height: 100%;
  border: 0.05rem solid rgba(65, 65, 65, 0.219);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.album-folders {
  display: grid;
  gap: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.album-folders-closed {
  display: none;
}

.album-folders-header {
  display: flex;
  user-select: none;
  opacity: 75%;
}

#show-all {
  opacity: 75%;
  color: var(--clr-lightest);
  display: grid;
  padding-inline: 0.5rem;
  gap: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
}

.artwork-now-playing-wrapper {
  flex: 2;
  place-content: end;
  padding: 1rem;
}

#now-playing-details {
  color: var(--clr-light);
  display: grid;
  gap: 0.25rem;
  padding-block: 1rem;
  align-content: end;
  padding-inline: 0.5rem;
}

#now-playing-details h3 {
  opacity: 50%;
  font-weight: 300;
}

.music-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  flex: 1;
  overflow-y: scroll;
  place-items: center;
  gap: 2rem;
  padding-block: 2rem;
  align-items: start;
}

.track-card {
  height: 20rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  .track-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-mid2);
    padding: 1rem;
    font-size: 125%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.track-card:hover {
  outline: 2px solid var(--clr-mid);
  border-radius: 1rem;
}

/* ----------------------------Audio player controls -----------------------*/

audio {
  width: auto;
  padding-inline: 1rem;
}

audio::-webkit-media-controls-panel {
  width: 100%;
  padding: 0;
}

audio::-webkit-media-controls-timeline-container {
  display: none;
}

audio::-webkit-media-controls-current-time-display {
  display: none;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-timeline {
  background: transparent;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 0;
  svg {
    color: var(--clr-light);
  }
}

/* ----------------------------ABOUT PAGE -----------------------*/

.about--wrapper {
  display: grid;
  place-content: start;
  /* flex-direction: column; */
  height: 100%;
  /* width: 85dvw; */
  color: var(--clr-light);
  /* flex-wrap: wrap; */
  gap: 3rem;
  overflow: hidden;
  overflow-y: scroll;

  img {
    height: 25rem;
    object-fit: cover;
  }
  span {
    display: flex;
    width: 40rem;
    font-size: 125%;
  }
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  .spans {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }
  img {
    flex: auto;
    height: 25rem;
    width: auto;
    aspect-ratio: 16/9;
  }
}
/* ----------------------------RESOURCES PAGE -----------------------*/

.music-resources--wrapper {
  display: grid;

  div {
    display: flex;
    flex: 1;
    p {
      flex: 1;
    }

    img {
      height: 35rem;
      width: 35rem;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}

.presets-wrapper {
  flex-direction: column;
  gap: 1rem;
  padding: 0rem;
  margin: 0;
}

/* ----------------------------MEDIA PAGE -----------------------*/

.media--wrapper {
  display: grid;
  overflow-y: scroll;
  gap: 2rem;
  font-size: 115%;

  h3 {
    font-size: 300%;
  }
}

.media-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10rem;
}

.media-title-span {
  display: grid;
  line-height: 1.7;
  gap: 1rem;
  h3 {
    line-height: 1;
  }
  span {
    font-size: 120%;
  }
}

.media-CONTENT-other {
  display: flex;
  flex-wrap: wrap;
  img {
    height: 25rem;
    width: auto;
  }
}

.media-CONTENT-tweets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* place-content: start; */
  /* justify-content: space-between; */
  /* gap: 0 1rem; */

  .react-tweet-theme {
    background-color: var(--clr-darkest-accent);
    flex: 0.25;
    /* padding: 1rem; */
  }
}

/* -------------------media query under 1024px - switch to hamburger style nav button and div----- */

@media (max-width: 1124px) {
  hr {
    display: none;
  }
  .nav-normal {
    display: none;
  }
  #FULL_APP {
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .nav-wrapper {
    height: min-content;
    width: 100svw;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--clr-darkest-accent);
    justify-content: space-between;
    position: relative;
  }

  .mobile-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu-wrapper b {
    padding-left: 2rem;
  }
  .mobile-menu-wrapper b:hover {
    color: var(--clr-mid);
  }

  .nav-mobile-open {
    position: fixed;
    background: rgba(0, 0, 0, 0.665);
    font-size: 2.5rem;
    height: 100dvh;
    width: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    backdrop-filter: blur(25px);
    padding: 1rem;
    place-content: center;
  }

  .nav-mobile-open p {
    color: var(--clr-light);
    font-weight: 500;
  }
  .nav-mobile-open p:hover {
    color: var(--clr-mid);
    text-decoration: underline;
    font-weight: 800;
  }

  /* ---------------mobile menu hamburger div */
  .mobile-menu-button {
    width: 4rem;
    aspect-ratio: 1;
    background: transparent;
    z-index: 1000;
    box-shadow: none;
    border: none;
    border-radius: 100rem;
    position: relative;
    /* right: 0rem;
    top: 0rem; */
  }

  .mobile-menu-button:hover span {
    background: var(--clr-light);
  }

  .mobile-menu-button > span {
    position: absolute;
    background: var(--clr-light);
    width: 60%;
    height: 0.25rem;
    border-radius: 100rem;
  }

  /* MUSIC PLAYER */
  #audioplayer {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 2rem;
  }

  .album-folders-header {
    padding-left: 0;
  }
  .audio-player-left img {
    aspect-ratio: 1;
    width: 100%;
  }

  #now-playing-details {
    font-size: 105%;
  }
  /* -------------LAYOUT DIV MOBILE --- FOR EACH SECTION ---------------*/
  .layout-div {
    section {
      padding: 0rem;
      width: 100svw;
      overflow: hidden;
      padding-block: 1rem;
    }
    h2 {
      display: flex;
      font-size: 300%;
      font-weight: 400;

      color: var(--clr-mid);
      padding-left: 1rem;
    }

    h3 {
      font-size: 200%;
      font-weight: 200;
    }
  }
  /* -------------------------------------------------------- */

  .about--wrapper {
    display: grid;
    width: 95dvw;
    margin: 0;
    gap: 1rem;

    span {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .about-content {
    display: grid;
    padding: 1rem !important;
    gap: 1rem;
  }

  .media--wrapper {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;

    padding-block: 2rem;
  }

  .media-section {
    display: grid;
    gap: 0.5rem;
  }

  .media-title-span {
    max-width: 90%;
    line-height: 1.7;
    margin: 0 auto;
    display: grid;
  }

  .media-CONTENT {
    display: grid;
    place-items: center;
    justify-content: center;
  }

  .media-CONTENT-tweets {
    justify-content: center;
    width: 100dvw;
    padding: 2rem;
    .react-tweet-theme {
      background-color: var(--clr-darkest-accent);
      width: 15dvw;
      flex: 1;
    }
  }

  #audioplayer {
    margin: 0;
    padding: 0;
  }

  .music-resources--wrapper {
    display: grid;
    /* width: 100%; */
    div {
      gap: 0;
      display: grid;

      flex: auto;
      img {
        height: 25rem;
        width: 25rem;
        object-fit: cover;
        aspect-ratio: 1;
      }
    }
  }

  .navbar-links-only-desktop {
    display: none;
  }

  footer {
    display: none;
  }
}

/*------------------------------------------- HELPER CLASSES */

.displayNone {
  display: none;
}
