:root {
  --night: hsla(40, 8%, 7%, 1);
  --nightAccent: rgba(32, 32, 32, 0.322);

  --vivid-sky-blue: hsla(192, 100%, 52%, 1);
  --myrtle-green: hsla(174, 40%, 33%, 1);
  --platinum: hsla(300, 3%, 85%, 1);
  --antiflash-white: hsla(170, 13%, 91%, 1);

  --clr-dark-bg: var(--night);
  --clr-darkest-accent: var(--nightAccent);
  --clr-mid: var(--vivid-sky-blue);
  --clr-mid2: var(--myrtle-green);
  --clr-light: var(--platinum);
  --clr-lightest: var(--antiflash-white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-mid2) transparent !important;
}

body {
  background-color: var(--clr-dark-bg);
  color: var(--clr-light);
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: var(--clr-light);
}

#FULL_APP {
  overflow-x: hidden;
}

.layout-div section {
  padding-block: 5rem;
  padding-inline: 5rem;
}
/* ----------------------------------------HOME----------------- */
.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  margin: 0 auto;
  height: 100dvh;
  overflow: hidden;
  flex: 6;
  color: var(--clr-light);
}

/* ------------------------styles to apply if a user's device settings are set to reduced motion---------------------- */

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}

/* -----------navbar ---------------------------- */

nav {
  display: flex;
  list-style: none;
  color: var(--clr-light);
  align-items: baseline;
  user-select: none;
  position: relative;
}

.nav-normal {
  display: flex;
  padding-inline: 1rem;
}

.navItem p:hover,
.navItem p:focus-visible {
  color: var(--clr-mid);
}

.logo--nav {
  display: flex;
  flex: 1;
  font-size: 4rem;
  color: var(--clr-light);
  width: min-content;
  line-height: 1;
}

.logo--nav:hover,
.logo--nav:focus-visible {
  color: var(--clr-mid);
}

.nav-items-right {
  display: flex;
  flex: auto;
  font-size: 1.2rem;
}

.navItem {
  display: flex;
  flex: auto;
  justify-content: end;
}

.activeItem {
  text-decoration: underline;
}

.mobile-menu-wrapper {
  display: none;
}

/* ----------------------------------MUSIC PAGE---------------------------- */

#audioplayer {
  display: flex;
  border: 0.25rem solid rgba(138, 136, 136, 0.363);
  border-radius: 10px;
  height: 75svh;
  width: 80svw;
  padding: 1rem;
  overflow: hidden;
  margin: 1rem auto;
  /* padding-top: 2rem; */
}

.audio-player-left {
  display: flex;
  flex-direction: column;
  flex: 1.25;
  flex-shrink: 0;
  flex-grow: 1;

  img {
    width: 100%;
    aspect-ratio: 1;
    /* height: auto; */
    object-fit: cover;
  }
}

#now-playing-details {
  color: var(--clr-light);
  display: grid;
  gap: 0.25rem;
  padding-block: 1rem;
  flex: 1;
  align-content: center;
}

#now-playing-details h3 {
  opacity: 50%;
  font-weight: 300;
}

.table-wrapper {
  overflow-y: scroll;
  flex: 2;
  border-left: 2rem solid var(--clr-dark-bg);
  table {
    width: 100%;
  }
}

.table-track-row {
  display: flex;
  align-items: center;
}

.table-track-row:hover,
.table-track-row:focus-visible {
  color: var(--clr-mid);
}

#track-artwork-thumbnail {
  display: flex;
  object-fit: cover;
  height: 100%;
  width: 4rem;
}

#table-item:nth-child(odd) {
  background-color: var(--clr-darkest-accent);
}

#track-details {
  display: grid;
  padding-left: 0.5rem;
}

#track-title {
  font-size: 1.4rem;
}

#track-album {
  font-weight: 600;
  opacity: 55%;
}

/* ----------------------------Audio player scubber -----------------------*/

audio {
  width: auto;
}

audio::-webkit-media-controls-panel {
  width: 100%;
  padding: 0;
}

audio::-webkit-media-controls-timeline-container {
  display: none;
}

audio::-webkit-media-controls-current-time-display {
  display: none;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-timeline {
  background: transparent;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 0;
}

/* ----------------------------ABOUT PAGE -----------------------*/

.about--wrapper {
  display: flex;
}

.about--content {
  display: grid;
  place-content: start;
  gap: 1rem;
  flex: 1;
  padding-inline: 5rem;
  color: var(--clr-light);
  place-content: end;
}

.envi-img-mayfest {
  flex: 1.25;
  height: 35rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.links {
  display: flex;
  gap: 1rem;
}
.music-link {
  color: var(--clr-light);
}

.about--span {
  line-height: 2;
}

/* ----------------------------MEDIA PAGE -----------------------*/

.media--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  column-gap: 0px;
  row-gap: 0px;
  place-items: stretch;
  width: 100%;
  justify-content: center;
  justify-items: center;

  img,
  video {
    height: auto;
    width: 35rem;
  }
  img {
    object-fit: cover;
  }
  video {
    object-fit: contain;
    height: auto;
  }
}

/* ----------------------------FOOTER -----------------------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: var(--clr-light);
  pointer-events: none;
  user-select: none;
  height: 10dvh;
}

/* -------------------media query under 1024px - switch to hamburger style nav button and div----- */

@media (max-width: 1024px) {
  .nav-normal {
    display: none;
  }

  .mobile-menu-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--clr-darkest-accent);
  }

  .mobile-menu-wrapper b {
    padding-left: 2rem;
  }
  .mobile-menu-wrapper b:hover {
    color: var(--clr-mid);
  }
  .mobile-logo--nav {
    display: flex;
    font-size: 4rem;
    color: var(--clr-lightest);
    font-weight: 400;
    font-size: calc(2vw + 2vh + 5vmin);
    color: var(--clr-light);
  }

  .nav-mobile-open {
    position: fixed;
    background: rgba(0, 0, 0, 0.665);
    font-size: 4.5rem;
    height: 100dvh;
    width: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    backdrop-filter: blur(25px);
  }

  .nav-mobile-open p {
    color: var(--clr-light);
    font-weight: 800;
  }
  .nav-mobile-open p:hover {
    color: var(--clr-mid);
    text-decoration: underline;
    font-weight: 800;
  }

  /* ---------------mobile menu hamburger div */
  .mobile-menu-button {
    position: absolute;
    width: 4.5rem;
    right: 2rem;
    aspect-ratio: 1;
    background: transparent;
    z-index: 1000;
    box-shadow: none;
    border: none;
    border-radius: 100rem;
  }

  .mobile-menu-button:hover span {
    background: var(--clr-light);
  }

  .mobile-menu-button > span {
    position: absolute;
    background: var(--clr-light);
    width: 60%;
    height: 0.25rem;
    border-radius: 100rem;
  }

  /* MUSIC PLAYER */
  #audioplayer {
    flex-direction: column;
    width: 90svw;
    padding: 1rem;
    margin: 0 auto;
    height: 100%;
    gap: 2rem;
  }

  .table-wrapper {
    border-left: none;
    overflow: hidden;
  }

  .audio-player-left img {
    aspect-ratio: 1;
    width: 100%;
  }
}

.displayNone {
  display: none;
}
